
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align items */
  margin-top: 20px;
}

.team-member-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: calc(20% - 20px); /* Three cards in the top row */
  transition: transform 0.2s;
}

.team-member-card:hover {
  transform: scale(1.05);
}

.team-member-image {
  border-radius: 30%;
  width: 10px; 
  height: 2px; 
}

.team-member-info {
  margin-top: 10px;
}

.h2 {
  text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 700px) {
    .team-member-card {
        width: calc(55% - 30px); /* Two cards in a row on smaller screens */
    }
}