
.Banner-About {
  position: relative;
  background-image: url('../assets/car.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 80vh; 
  color: #fff;
  text-align: center;
  z-index: 1;
}
.Banner-About::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px); 
  z-index: -1;
}

.Banner-About h {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.Banner-About p {
  font-size: 1.5em;
  line-height: 1.6;
}

.container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-section {
  flex: 1;
  padding: 10px;
}

.image-section img {
  width: 100%;
  height: auto;
}

.text-section {
  flex: 1;
  padding: 10px;
  color: #333;
  background-color: #fff;
  border: 20px;
  margin-left: -50px;
}

.text-section p {
  font-size: 1.2em;
  line-height: 1.6;
}
.stat-item {

  display: flex;
  flex-direction: row;  
  justify-content: space-around;  
  align-items: center; 
  margin-top:30%; 
  gap: 40px;  
}
.black{
    color: #000;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.yellow{
  color: rgb(165, 165, 77);
    text-align: center;
    display: block; 
    line-height: 1.8;  
    margin-top: 10px; 
}



.Team {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8; 
}

.teamh {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.team-member, .team-member2 {
  text-align: center;
  margin: 10px;
  flex: 1 1 20%; 
  max-width: 20%; 
  margin-top: 60px;
  cursor: pointer;
}

.team-member img, .team-member2 img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.member-details {
  margin-top: 10px;
  font-size: 0.9em;
  color: goldenrod;
  border: 1px solid #ddd; 
  padding: 10px; 
  border-radius: 8px; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.team-member p, .team-member2 p {
  margin-top: 10px;
  font-size: 1.2em;
  cursor: pointer; 
}



.WhyUs {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8; 
}

.why-us-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.why-us-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  gap: 30px;
  padding: 20px;
  height: auto; 
}


.why-us-content .vertical-line {
  width: 1px;
  background-color: #000;
  height: 50px;  
  margin: 0 20px;
}
