.login-container {
    display: flex;
    height: 100vh;
    background-color: #4e0538;
  }
  
  .login-image {
    flex: 1;
    background: url('/path-to-your-background-image.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(1px);
  }
  
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e0538;
    padding: 20px;
  }
  
  .login-form h1 {
    margin-bottom: 10px;
    font-size: 3em;
    
  }
  
  .login-form p {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  
  }
  
  .login-form button {
    width: 20%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .signup-link {
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #f4f6f8;
    text-decoration: none;
    
  }
  