.product-detail {
    margin-top: 50px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .related-products h4 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .related-products .col {
    margin-bottom: 30px;
  }
  
  .tabs {
    margin-top: 50px;
  }
  
  button {
    border-radius: 0;
  }
  