.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 400px; /* Increase the height of the banner */
  background-color: #4e0538; /* Dark background */
  background-image: url('./Homepage/HomepageImages/Bg-Banner.svg'); /* Add your background image */
  background-size: cover; /* Ensure the image covers the entire banner */
  background-position: center; /* Center the background image */
  color: #fff; /* White text */
}

.banner-text {
  max-width: 50%;
}

.shop-now-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff9900; /* Button color */
  border-radius: 20px;
  color: #998b8b;
  cursor: pointer;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

.banner-image {
  width: 50%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}
.part1 {
  width: 20%; /* Ensure the image takes up the full width */
    height: 20%; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 20px
}