.brand-logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #aa9f9f; /* Light background */
}

.brand-logos-container img {
  max-height: 50px; /* Adjust size as needed */
  margin: 0 10px;
}