.promotional-section {
  height: 80vh;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Space the items evenly */
  align-items: center; /* Center items vertically */
}

.promotion-banner {
  text-align: center;
  color: #3b3b3d;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  flex: 1; /* Allow the banner to take up available space */
}

.h2 {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
}

.number {
  font-family: "Abhaya Libre", serif;
  font-weight: 300;
  font-size: 50px;
  color: #b8860b;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space the product items evenly */
  margin-right: 5%;
  height: 90%; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 10px;
  flex: 1; /* Allow the products to take up available space */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Add a border with 30% opacity */
  padding: 10px; /* Add padding to ensure content doesn't touch the border */
}

.product-item {
  background-color: #fff;
  height: 90%;
  flex: 0 0 45%; /* Each product item takes up 48% of the width */
  margin: 2%; /* Add margin between product items */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Optional: Add rounded corners */
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: Add rounded corners to the image */
  margin-bottom: 30px; /* Add space below the image */
}

.product-item p {
  margin: 5px 0;
}
