.promotional-section {
  padding: 0px;
  background-color:#aa9f9f;
  margin-top: 20px;
}

.promotion-banner {
  text-align: left ; 
  background-color:#4e0538;/* Dark background */
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-left:0px;
  
}
.h1 {
  margin-left:10px;
}

.explore-more-btn {
  background-color: #ff9900;
  color: #fff;
  border-radius: 20px;  
  padding: 10px 20px;
  cursor: pointer;
}

.products {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure the image takes up the full width */
  height: 50%; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius:20px;
}

.product-item {
  background-color: #fff;
  padding: 10px;
  border: px solid;
  text-align: center;
  border-radius:20px;
  
}

.product-details {
  margin-top: 10px;
}

.discount-badge {
  background-color: #ff0000;
  color: #a19090;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.price {
  margin: 10px 0;
}

.discounted-price {
  font-weight: bold;
  color: #ff0000;
}

.original-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.rating {
  color: #ff9900;

}
