.statistics-bar {
  display: flex;
  justify-content: center; /* Center items */
  padding: 20px;
  background-color: #1e1e1e;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.statistic-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center content inside each item */
  text-align: left; /* Center text inside each item */
  margin: 10px; /* Add some margin between items */
  flex: 1 1 auto; /* Allow items to grow and shrink */
  min-width: 200px; /* Set a minimum width for each item */
}

.statistic-item h1 {
  color: #fff;
  font-size: 2em;
  margin: 0 10px 0 0; /* Reduce margin to create a little space */
  white-space: nowrap; /* Prevent number from wrapping */
}

.statistic-item p {
  margin: 0;
  font-size: 1em;
  color: #b8860b;
  display: flex;
  flex-direction: column;
}

.statistic-item p span {
  display: block;
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
  .statistics-bar {
    flex-direction: column;
    align-items: center;
  }

  .statistic-item {
    width: 100%;
    justify-content: center;
    margin: 15px 0;
  }

  .statistic-item h1 {
    font-size: 1.8em;
  }

  .statistic-item p {
    font-size: 0.9em;
  }
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
  .statistic-item {
    flex-direction: column;
    text-align: center;
  }

  .statistic-item h1 {
    margin: 0 0 10px 0;
    font-size: 1.6em;
  }

  .statistic-item p {
    align-items: center;
  }
}
